<div>
<form method="post" action=test.html">	

	<table>
		<caption>Suur õlletest</caption>
		<tr>
			<th>
				Väljas võib küll sadada lumi, kuid mis aastaaega väjendab hetkel sinu meeleolu?
			</th></tr><tr>
			<th>
				<input type="radio" name="aastaaeg" value "Kevad">Kevad<br>
				<input type="radio" name="aastaaeg" value "Suvi">Suvi<br>
				<input type="radio" name="aastaaeg" value "Sügis">Sügis<br>
				<input type="radio" name="aastaaeg" value "Talv">Talv<br>
			</th>				
		</tr>
		<tr>
			<th>
				Mis täna plaanis
			</th></tr><tr>
			<th>
				<input type="radio" name="plaanis" value "Kevad">Pildituks<br>
				<input type="radio" name="plaanis" value "Suvi">Tüdrukutega<br>
				<input type="radio" name="plaanis" value "Sügis">Kuttidega<br>
				<input type="radio" name="plaanis" value "Talv">Kodus koos kassiga<br>
			</th>					
		</tr>
		<tr>
			<th>
				Millist neist eelistad?
			</th></tr><tr>
			<th>
				<input type="radio" name="eelistus" value "Kevad">Valge poolkuiv vein<br>
				<input type="radio" name="eelistus" value "Suvi">Värvilised kokteilid<br>
				<input type="radio" name="eelistus" value "Sügis">Ainult õlu mulle, aitäh<br>
				<input type="radio" name="eelistus" value "Talv">Viski jääga<br>
			</th>					
		</tr>
		<tr>
			<th>
				Mis tuju sul hetkel on?
			</th></tr><tr>
			<th>
				<input type="radio" name="tuju" value "Kevad">Väga hea<br>
				<input type="radio" name="tuju" value "Suvi">Kehvapoolne<br>
				<input type="radio" name="tuju" value "Sügis">Meh..<br>
				<input type="radio" name="tuju" value "Talv">Hoia parem eemale<br>
			</th>					
		</tr>
		<tr>
			<th>
				Mille järgi isutab?
			</th></tr><tr>
			<th>
				<input type="radio" name="isu" value "Kevad">Puuviljasalat<br>
				<input type="radio" name="isu" value "Suvi">Küüslauguleivad<br>
				<input type="radio" name="isu" value "Sügis">Sushi<br>
				<input type="radio" name="isu" value "Talv">Shokolaadikook<br>
			</th>					
		</tr>
		<tr>
			<th>
				Vali lemmikstaar
			</th></tr><tr>
			<th>
				<input type="radio" name="staar" value "Kevad">Andrus Veerpalu<br>
				<input type="radio" name="staar" value "Suvi">Edgar Savisaar<br>
				<input type="radio" name="staar" value "Sügis">Liis Lemsalu<br>
				<input type="radio" name="staar" value "Talv">Anu Saagim<br>
			</th>					
		</tr>
		
		<tr>
			<td colspan="2">
				<button type="submit">Vaata tulemust</button>
			</td>
		</tr>
		
	</form>

</div>