<div>
<form method="post" action="?page=login">	

	<table class="test">
		<caption >Suur õlletest</caption>
		<tr>
			<th>
				Väljas võib küll sadada lumi, kuid mis aastaaega väjendab hetkel sinu meeleolu?
			</th></tr><tr>
			<td>
				<input type="radio" name="aastaaeg" value "Kevad">Kevad<br>
				<input type="radio" name="aastaaeg" value "Suvi">Suvi<br>
				<input type="radio" name="aastaaeg" value "S?gis">Sügis<br>
				<input type="radio" name="aastaaeg" value "Talv">Talv<br>
			</td>				
		</tr>
		<tr>
			<th>
				Mis täna plaanis?
			</th></tr><tr>
			<td>
				<input type="radio" name="plaanis" value "Kevad">Pildituks<br>
				<input type="radio" name="plaanis" value "Suvi">Tüdrukutega<br>
				<input type="radio" name="plaanis" value "S?gis">Kuttidega<br>
				<input type="radio" name="plaanis" value "Talv">Kodus koos kassiga<br>
			</td>					
		</tr>
		<tr>
			<th>
				Millist neist eelistad?
			</th></tr><tr>
			<td>
				<input type="radio" name="eelistus" value "Kevad">Valge poolkuiv vein<br>
				<input type="radio" name="eelistus" value "Suvi">Värvilised kokteilid<br>
				<input type="radio" name="eelistus" value "S?gis">Ainult õlu mulle, aitäh<br>
				<input type="radio" name="eelistus" value "Talv">Viski jääga<br>
			</td>					
		</tr>
		<tr>
			<th>
				Mis tuju sul hetkel on?
			</th></tr><tr>
			<td>
				<input type="radio" name="tuju" value "Kevad">Väga hea<br>
				<input type="radio" name="tuju" value "Suvi">Kehvapoolne<br>
				<input type="radio" name="tuju" value "S?gis">Meh..<br>
				<input type="radio" name="tuju" value "Talv">Hoia parem eemale<br>
			</td>					
		</tr>
		<tr>
			<th>
				Mille järgi isutab?
			</th></tr><tr>
			<td>
				<input type="radio" name="isu" value "Kevad">Puuviljasalat<br>
				<input type="radio" name="isu" value "Suvi">Küüslauguleivad<br>
				<input type="radio" name="isu" value "S?gis">Sushi<br>
				<input type="radio" name="isu" value "Talv">Shokolaadikook<br>
			</td>					
		</tr>
		<tr>
			<th>
				Vali lemmikstaar
			</th></tr><tr>
			<td>
				<input type="radio" name="staar" value "Kevad">Andrus Veerpalu<br>
				<input type="radio" name="staar" value "Suvi">Edgar Savisaar<br>
				<input type="radio" name="staar" value "S?gis">Liis Lemsalu<br>
				<input type="radio" name="staar" value "Talv">Anu Saagim<br>
			</td>					
		</tr>
		
		<tr>
			<td colspan="2">
				<button type="submit" align=center>Vaata tulemust</button>
			</td>
		</tr>
		
	</form>

</div>